<section data-ng-controller="HomeController">
	<div class="jumbotron text-center">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
				<h1>cookbook</h1>
			</div>
		</div>
		<br>
		<div class="row">
			<p class="lead">
				A MEAN recipe application.
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			<h2>Cookbook</h2>
			<p>Cookbook is a simple web-app for maintaining your favourite recipes and discovering new ones.</p>
		</div>
		<div class="col-md-3">
			<h2>Discover</h2>
			<p>Browse through <a href="/#!/recipes">recipes</a>. Discover new favourites and suggest improvements.</p>
		</div>
		<div class="col-md-3">
			<h2>Sign up</h2>
			<p>Feel free to write down your favourite recipes and share em with others. Go ahead and <a href="/#!/signup"><strong>sign up!</strong></a></p>
		</div>
		<div class="col-md-3">
			<h2>Improve</h2>
			<p>The application is developed in <a target="_blank" href="https://github.com/Gonnagle/cookbook"><strong>GitHub</strong></a>. You can report any bugs and issues <a target="_blank" href="https://github.com/Gonnagle/cookbook/issues">there</a>. Code improvements and pull request are also welcome.</p>
		</div>
	</div>
</section>